# the root path in vault to the secrets stored in vault.
# use VAULT_SKIP_VERIFY=1 for insecure, non-tls environments.
# providing the VAULT_TOKEN here allows you to sign into lighthouse without prompts.

export BASE_ENV="replace-me"
export VAULT_PATH="replace-me"
export VAULT_TOKEN="replace-me"
export VAULT_ADDR="replace-me"
export VAULT_ALIAS="replace-me"
export VAULT_SKIP_VERIFY=1
export SAFE_AUTH=token

# environment variables for BOSH
# can be used to override default vault values

export BOSH_IP="replace-me"
export BOSH_ENVIRONMENT="replace-me"
export BOSH_IP="replace-me"

# environment variables for Cloud Foundry
# can be used to override default vault values

export BASE_ENV="replace-me"
# export CF_USERNAME="admin"
# export CF_PASSWORD="replace-me"
# export CF_API="replace-me"
# export CF_ORG="replace-me"
# export CF_SPACE="replace-me"
