## Cloud Foundry

LH_CF_USERNAME="admin"
LH_CF_PASSWORD=""
     LH_CF_API="https://api.system.xjkevin.scalecf.net"
     LH_CF_ORG=system
   LH_CF_SPACE=dev

## BOSH

  LH_BOSH_ENVIRONMENT=
      LH_BOSH_CA_CERT=
       LH_BOSH_CLIENT=
LH_BOSH_CLIENT_SECRET=

bosh alias-env proto-vsphere -e LH_BOSH_ENVIRONMENT --ca-cert <(bosh int ~/ops/snw-deployments/bosh-envs/credentials/vsphere-prod/creds.yml --path /director_ssl/ca)

# maybe BOSH_DEPLOYMENT for a cloud foundry deployment?

# we will probably toggle bosh non interactive to true because we don't want them to have to
# What commands ask to interact?  could be a good blog article.
# BOSH_NON_INTERACTIVE

# ...

## Concourse 

# ...

## Vault

# ...