# Config.env: Setting to locate and sign in to resources.

## Cloud Foundry

LH_CF_USERNAME="admin"
LH_CF_PASSWORD=""
     LH_CF_API="https://api.system.xjkevin.scalecf.net"
     LH_CF_ORG=system
   LH_CF_SPACE=dev

## BOSH

# ...

## Concourse 

# ...

## Vault

# ...