# the root path in vault to the secrets stored in vault.
# use VAULT_SKIP_VERIFY  = true for insecure, non-tls environments.
# use CF_SKIP_SSL_VALIDATION  = true for insecure, non-tls environments.
# providing the VAULT_TOKEN here allows you to sign into lighthouse without prompts.

export BASE_ENV="replace-me"                # Change name to config file if copied
export BASE_TYPE="${BASE_TYPE:="replace-me"}"      # Can be:
                                                    #      Genesis
                                                    #      "PCF_Vault"
                                                    #      "OCF_Vault"
                                                    #      "PCF_OM"

export VAULT_TOKEN="${VAULT_TOKEN:="replace-me"}"   # Set to "SKIP" to skip auto-login
export VAULT_PATH="${VAULT_PATH:="replace-me"}"
export VAULT_ADDR="${VAULT_ADDR:="replace-me"}"
export VAULT_ALIAS="${VAULT_ALIAS:="replace-me"}"
export VAULT_SKIP_VERIFY="${VAULT_SKIP_VERIFY:="replace-me"}"  # true or false
export SAFE_AUTH="${SAFE_AUTH:="replace-me"}"              # can be token or github

export CONCOURSE_TARGET="${CONCOURSE_TARGET:="replace-me"}"
export CONCOURSE_URL="${CONCOURSE_URL:="replace-me"}"
export GITHUB_OWNER="${GITHUB_OWNER:="replace-me"}"  # replace if you are using your own fork

# environment variables for BOSH
# can be used to override default vault values

export BOSH_IP="${BOSH_IP:="replace-me"}"
export BOSH_ENVIRONMENT="${BOSH_ENVIRONMENT:="replace-me"}"

# environment variables for Cloud Foundry
# can be used to override default vault values

# export CF_DIAL_TIMEOUT="${CF_DIAL_TIMEOUT:=180}" # Uncomment if you need for login/usage
export CF_USERNAME="${CF_USERNAME:="admin"}"
export LH_CF_SKIP_SSL_VALIDATION="${CF_SKIP_SSL_VALIDATION:="replace-me"}"
export CF_DOMAIN="${CF_DOMAIN:="replace-me"}" # OPTIONAL
export LH_VAULT_CF_PASSWORD_PATH="${VAULT_CF_PASSWORD:="replace-me"}" # example: secret/.....
export CF_API="${CF_API:="replace-me"}"
export CF_ORG="${CF_ORG:="replace-me"}"
export CF_SPACE="${CF_SPACE:="replace-me"}"
export LH_VAULT_BOSH_CA_CERT_PATH="${VAULT_BOSH_CA_CERT:="replace-me"}" # example: secret/.....
export BOSH_CLIENT="${BOSH_CLIENT:="replace-me"}"
export LH_VAULT_BOSH_CLIENT_SECRET_PATH="${VAULT_BOSH_CLIENT_SECRET:="replace-me"}" # example: secret/.....

